{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.0"}
        net.java.dev.jna/jna {:mvn/version "5.13.0"}
        com.phronemophobic/clong {:mvn/version "1.4.3"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        }
 :aliases
 {:project
  {:extra-deps {org.bytedeco/llvm-platform {:mvn/version "16.0.4-1.5.9"}
                #_#_com.phronemophobic/clj-media {;; :mvn/version "2.3"
                                      :local/root "../clj-media"
                                      }
                com.phronemophobic.cljonda/whisper-cpp-darwin-aarch64 {:mvn/version "c96906d84dd6a1c40ea797ad542df3a0c47307a3"}}}
  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
          slipset/deps-deploy {:mvn/version "RELEASE"}}
   :ns-default build}}}

